h1 {
    text-align: center;
    color: blue;
}

h2 {
    text-align: center;
    margin-top: 200px;
    padding-top: 50px;
}


#percentile {
    margin: 15px;
    padding: 30px;
}

#button {
    margin: 15px;
    padding: 25;
    background-color: #D3D3D3;
    vertical-align: middle;
}

#refresher {
    background-color: #E5F55A; 
    margin: 0%;
    padding: 5px;
    font-size: large;
    vertical-align: middle;
    font-weight: bold;
}

#refresher_unavail {
    background-color: #BDBDB6; 
    margin: 0%;
    padding: 5px;
    font-size: large;
    vertical-align: middle;
    font-weight: bold;
}

#clue_display {
    width: 50%;
    margin: auto;
    margin-top: 10px;
}