h1 {
    text-align: center;
    color: blue;
    padding-top: 2%;
}

h2 {
    text-align: center;
    margin-top: 200px;
    padding-top: 50px;
}


#percentile {
    margin: 15px;
    padding: 30px;
}

#button {
    margin: 15px;
    padding: 25;
    background-color: #D3D3D3;
    vertical-align: middle;
}

/* don't need this anymore-- was for the 3 original buttons
#refresher {
    background-color: #E5F55A; 
    margin: 0%;
    padding: 5px;
    font-size: large;
    vertical-align: middle;
    font-weight: bold;
} */


/* don't need this anymore-- was originally for the submit guess button, to reveal scorecard

#refresher_reveal {
    background-color: blue;
    margin: 0%;
    padding: 5px;
    font-size: large;
    vertical-align: middle;
    font-weight: bold;
} */

/* don't need this anymore, was a test to grey out old buttons
#refresher_unavail {
    background-color: #BDBDB6; 
    margin: 0%;
    padding: 5px;
    font-size: large;
    vertical-align: middle;
    font-weight: bold;
} */

#clue_display {
    width: 50%;
    margin: auto;
}

#left_display {
    text-align: right;
    padding-right:15%;
}

#right_display {
    text-align: left;
    padding-left:15%;
}

.draggable {
    cursor: move;
}

#revealer {
    position:absolute;
    width:30vw;
    height:30vw;
    background-color:blue;
    border-radius:50%;
 }