{% extends "layout.html" %}

{% block title %}
    Guesser
{% endblock %}

{% block main %}
        <div class="container-fluid">
            <div style="background-color:#D3D3D3">
                <h2>
                    Guesser:
                    <!-- TODO: figure out how to carry over clues from clues.html to guessing.html-->
                    <p>The clues are: {{ clue1 }} || {{ clue2 }}</p>
                </h2>
                
                <div class="row" id="spinner_div">
                    <svg height="250" width="1000">
                        <circle id="spinner" cx="50%" cy="100%" r="200" fill="#B6DEF2" stroke="black" stroke-width="20"/>
                        <circle id="inner_circle" cx="50%" cy="100%" r="50" fill="red" />
                        <line x1="50%" y1="100%" x2= "50%" y2 = "20%" stroke="red" stroke-width="8" stroke-linecap="round" transform="rotate({{ guess_percentile }} 708 250)"/>
                    </svg>
                </div>
            </div>
            
            <form action="/guessing" method="post">
                <div class="row text-center" id="percentile">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <input type="number" id="percentile_guess" name="percentile_guess" placeholder="Guess"><br><br>
                        <input type="submit" value="Move Dial">
                    </div>
                    <div class="col-sm-4"></div>
                    
                </div>
            </form>

            <div class="row text-center" id="button" >
                <div class="col-sm-4">
                    <p class="nav-item" id="refresher"><a class="nav-link" href="/clues">Receive Clue & Spin Dial</a></p>
                </div>
                <div class="col-sm-4">
                    <p class="nav-item" id="refresher"><a class="nav-link" href="/guessing">Ready for Guessing</a></p>
                </div>
                <div class="col-sm-4">
                    <p class="nav-item" id="refresher"><a class="nav-link" href="/result">Submit Guess</a></p>
                </div>
                
            </div>
        </div>

{% endblock %}