{% extends "layout.html" %}

{% block title %}
    Start
{% endblock %}

{% block main %}
        <div class="container-fluid">
                <h2>
                    Ready to Play?
                </h2>

                <div>        
                    <svg id="dial_svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="250" onload="makeDraggable(evt)">
                    
                            <!-- blue half circle -->
                            <circle id ="outer_circle" cx="50%" cy="100%" r="20%" fill="#B6DEF2" stroke="black" stroke-width="2%"/>
                            
                            <!-- inner red circle -->
                            <circle id="inner_circle" cx="50%" cy="100%" r="4%" fill="red" />
                    </svg>
                </div>
        </div>

{% endblock %}

{% block button_url %}

<a href="/clues" class="btn btn-primary" role="button" data-bs-toggle="button">Next</a>

{% endblock %}