<!DOCTYPE html>
<html lang="en">
    

    <head>
        <link rel="stylesheet" href="../static/styles.css"> 
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        
        <title>
            Wavelength
        </title>
    </head>
    <body>

        <div id="header">
            <h1>
                Wavelength
            </h1>

            <div class="row text-center">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">Catch my drift?</div>
                <div class="col-sm-4"></div>
            </div>
            
            <hr>
        </div>

        <div class="container-fluid">
            <div style="background-color:#D3D3D3">
                <h2>
                    Spectrum
                </h2>
                
                <div class="row" id="spinner_div">
                    <svg height="250" width="1000">
                        <circle id="spinner" cx="50%" cy="100%" r="200" fill="#FCFCED" stroke="black" stroke-width="20"/>
                        <circle id="inner_circle" cx="50%" cy="100%" r="50" fill="red" />
                        <line x1="50%" y1="100%" x2= "50%" y2 = "20%" stroke="blue" stroke-width="8" stroke-linecap="round" transform="rotate({{ winning_degree }} 708 250)"/>
                        <line x1="50%" y1="100%" x2= "50%" y2 = "20%" stroke="#F17829" stroke-width="8" stroke-linecap="round" transform="rotate({{ degree_3L }} 708 250)"/>
                        <line x1="50%" y1="100%" x2= "50%" y2 = "20%" stroke="#F17829" stroke-width="8" stroke-linecap="round" transform="rotate({{ degree_3R }} 708 250)"/>
                        <line x1="50%" y1="100%" x2= "50%" y2 = "20%" stroke="yellow" stroke-width="8" stroke-linecap="round" transform="rotate({{ degree_2L }} 708 250)"/>
                        <line x1="50%" y1="100%" x2= "50%" y2 = "20%" stroke="yellow" stroke-width="8" stroke-linecap="round" transform="rotate({{ degree_2R }} 708 250)"/>
                    </svg>
                </div>
            </div>
            
            <div class="row text-center" id="percentile">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <p>Your percentile: {{ user_percentile }} </p>
                    <p>Your clues are: {{ clue1 }} || {{ clue2 }}</p>
                </div>
                <div class="col-sm-4"></div>
                
            </div>

            <div class="row text-center" id="button" >
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <!-- <button type="button" class="btn btn-dark">Receive Clue & Spin Dial</button> -->
                    <!-- now the Receive clue and spin dial button reloads the page and results in new percentile and clue-->
                    <p class="nav-item" id="refresher"><a class="nav-link" href="/">Receive Clue & Spin Dial</a></p>
                </div>
                <div class="col-sm-4"></div>
                
            </div>
        </div>
        

    </body>
</html>