<!DOCTYPE html>
<html lang="en">
    

    <head>
        <link rel="stylesheet" href="../static/styles.css"> 
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        
        <title>
            Wavelength: {% block title %}{% endblock %}
        </title>
    </head>
    <body>

        <!-- nav bar layout -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Wavelength</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <div class="navbar-nav ms-auto mt-2">
                        <a class="nav-item nav-link active" href="/">Home</a>
                        <a class="nav-item nav-link active" href="/instructions">Instructions</a>
                        <a class="nav-item nav-link active" href="/test">Test</a>
                    </div>
                </div>
            </div>
          </nav>
        
        {% block main %}{% endblock %}

        <!-- for the 1 button across diff pages -->
        <br>
        <br>
        <div class="row text-center">
            {% block button_url %}{% endblock %}
        </div>
        
    </body>

    <script src="{{url_for('static', filename='app.js')}}"></script>
</html>