{% extends "layout.html" %}

{% block title %}
    Test Environment
{% endblock %}

{% block main %}

<!-- test page before putting into production. -->
<div style="background-color:#D3D3D3">
  
  <!-- test div for dragging dial -->
  <div class="row" id="spinner_div">
      <svg xmlns="http://www.w3.org/2000/svg" height="250" onload="makeDraggable(evt)">
          <circle cx="50%" cy="100%" r="200" fill="#B6DEF2" stroke="black" stroke-width="20"/>
          <circle id="inner_circle" cx="50%" cy="100%" r="50" fill="red" />

          <!-- dial with class "draggable" that turns cursor into clickable icon for usability -->
          <line class="draggable" x1="720" y1="250" x2= "720" y2 = "50" stroke="red" stroke-width="8" stroke-linecap="round" transform="rotate({{ guess_percentile }} 708 250)"/>
          <!-- <line x1="720" y1="250" x2= "861.42" y2 = "108.57" stroke="purple" stroke-width="8" stroke-linecap="round" transform="rotate({{ guess_percentile }} 708 250)"/> -->
      </svg>
  </div>
</div>


{% endblock %}